.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.reset-password-form {
    width: 40%; 
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h5 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
    text-align: center;;
}
.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 120px;
    margin-bottom: 40px;
}

.reset-password-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reset-password-form label {
    margin: 10px 0;
    color: #282739;
    font-weight: 600;
    margin-left: 120px;
    width: 100%;
}

.reset-password-input[type="text"]:focus,
.reset-password-input[type="password"]:focus {
    outline: none;
    background-color: #ffffff;
}

.input-content {
    width: 400px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.reset-password input[type="password"],
.reset-password input[type="text"]{
    width: 100%;
    padding: 10px;  
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #d4d4d7;
    border-radius: 8px;
    outline: none;
    position: relative;
}

.input-content .eye-icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
    color: #7E7D88;
    font-size: 14px;
}

.reset-password-image {
    width: 100%;
    z-index: 1000;
    position: relative;
    background-color: #fff;
}

.reset-password-image img {
    width: 65%;
    margin-left: 250px;
    object-fit: cover;
}
.reset-password-submit {
    width: 162px;
    padding: 12px;
    background-color: #FF9138;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 15px;
    align-self: center;
}
    
